.keyword {
  color: #d73a49; /* GitHub Red */
}

.function {
  color: #6f42c1; /* GitHub Purple */
}

.punctuation {
  color: #24292e; /* GitHub Black */
}

.comment {
  color: #6a737d; /* GitHub Muted Gray */
}

.string,
.constant,
.annotation,
.boolean,
.number {
  color: #005cc5; /* GitHub Blue */
}

.tag {
  color: #22863a; /* GitHub Green */
}

.attr-name {
  color: #6f42c1; /* GitHub Purple */
}

.attr-value {
  color: #e36209; /* GitHub Orange */
}
